html{
    overflow: auto !important;
    min-width:246px;

}

/*Mathew Elder provided (2023-10) the following style to fix our view issue with many columns.*/
th{
    white-space:normal
}

:root {
    /*Variable for team color*/
    /*light ac3e37 main 770711 dark 470000*/
    --main-color-light: #9c9a9a;
    --main-color-primary: #9c9a9a;
    --main-color-dark: #000000;
    --main-color-text: #fcba03;
    --main-color-bright: #ffffff;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--main-color-light);
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

nav, .nav, .navbar {
    margin-bottom: 50px;

    background: var(--main-color-dark) !important;
    position: sticky !important;
}
.navbar-brand, .navbar-brand:hover {
    color: var(--main-color-primary);
}

.navbar-nav .nav-link.active, .navbar-nav, .nav-link.show, .nav-link, .nav-link:hover, .dropdown-toggle, .navbar-nav  .nav-link.show  {
    color: var(--main-color-primary);
}

.cd {
    color: #F00 !important;
    /*    font-weight:bold;*/
    /*    margin-bottom:-48px*/
}

label {
    margin-right: 8px
}

th, tr, td {
    text-align: left;
}

td {
    padding: 0 !important
}
tr, thead, th {
    white-space: normal;
}

tr th {
    line-height: 1;
    padding-bottom: 8px
}

tr:nth-child(even) {
    background-color: #FFF
}

.a {
    padding: 0 32px 0 0
}

h2 {
    /*    margin-bottom:-10px!important*/
}

table {
    padding: 0 !important;
    display: inline-block !important
}

.logo {
    height: 40px
}

.no-link {
    color: inherit
}

.no-link:hover {
    text-decoration: none;
    color: inherit
}

.ftr {
    margin-top: 50px;
    padding: 20px;
    background: var(--main-color-dark);
    color: var(--main-color-text);
    bottom: 0;
    /*    position:absolute;*/
    width: 100%
}


.centered {
    margin: 0 auto
}


.centered2, .has-text-centered {
    text-align: center
}

form {
    margin-bottom: 10px;
    margin-top: 10px;
}


.navbar-link, .navbar-link:focus, .navbar-bgn {
    color: var(--main-color-text) !important
}

.title {
    color: var(--main-color-bright) !important
}

body, p, strong, th {
    color: #000 !important
}





/*white background box.*/
.wbb, .ddl {
    padding: 0px 8px 0px 8px !important;
    background-color: #ccc !important;
    border: 8px #ccc solid !important;
    border-radius: 12px !important;
    /*white-space: nowrap !important;*/
}

span.large {
    font-size: 30px;
}